<li class="layui-nav-item">
    <a href="javascript:;">委外接口</a>
    <dl class="layui-nav-child">
        <dd><a href='@Url.Content("~/Home/v_user_sync_info")'>/user/sync/info 用户基本数据同步</a></dd>
        <dd><a href='@Url.Content("~/Home/v_user_sync_token")'>/user/sync/token 用户令牌数据同步</a></dd>
        <dd><a href="@Url.Content("~/Home/v_casepool_list")">/casepool/list 委外案件案池信息</a></dd>
        <dd><a href="@Url.Content("~/Home/v_case_info")">/case/info 委外案件基本信息</a></dd>
        <dd><a href="@Url.Content("~/Home/v_acct_list")">/acct/list 委外案件账户信息</a></dd>
        <dd><a href="@Url.Content("~/Home/v_cust_maininfo")">/cust/maininfo 委外案件客户信息</a></dd>
        <dd><a href="@Url.Content("~/Home/v_cust_maininfo_addition")">/cust/maininfo/addition 委外案件客户邮寄积分信息</a></dd>
        <dd><a href="@Url.Content("~/Home/v_cust_maininfo_phone_list")">/cust/maininfo/phone/list 委外案件客户联系方式</a></dd>
        <dd><a href="@Url.Content("~/Home/v_cust_maininfo_address_list")">/cust/maininfo/address/list 委外案件客户联系地址</a></dd>
        <dd><a href="@Url.Content("~/Home/v_case_aipa")">/case/aipa 委外案件客户实时交易信息</a></dd>
        <dd><a href="@Url.Content("~/Home/v_case_realtime_repay")">/case/realtime/repay 委外案件客户实时还款信息</a></dd>
        <dd><a href="@Url.Content("~/Home/v_case_etp")">/case/etp 委外案件客户账单信息</a></dd>
        <dd><a href="@Url.Content("~/Home/v_coll_record_history")">/coll/record/history 委外案件催记历史信息</a></dd>
        <dd><a href="@Url.Content("~/Home/v_action_submit")">/action/submit 委外机构催记录入</a></dd>
        <dd><a href="@Url.Content("~/Home/v_cust_phone_update")">/cust/phone/update 委外案件客户联系方式修正</a></dd>
        <dd><a href="@Url.Content("~/Home/v_cust_address_update")">/cust/address/update 委外案件客户联系地址修正</a></dd>
        <dd><a href="@Url.Content("~/Home/v_visit_apply_decode")">/visit/apply/decode 委外案件信息外访申请</a></dd>
        <dd><a href="@Url.Content("~/Home/v_visit_apply_decode_delay")">/visit/apply/decode/delay 委外案件信息外访申请延期</a></dd>
        <dd><a href="@Url.Content("~/Home/v_visit_apply_list")">/visit/apply/list 委外案件外访申请审核信息</a></dd>
        <dd><a href="@Url.Content("~/Home/v_visit_apply_review")">/visit/apply/review 委外案件外访审核</a></dd>
        <dd><a href="@Url.Content("~/Home/v_apply_decode")">/apply/decode 委外数据明文申请</a></dd>
        <dd><a href="@Url.Content("~/Home/v_apply_list")">/apply/list 委外数据明文申请审核信息</a></dd>
        <dd><a href="@Url.Content("~/Home/v_apply_review")">/apply/review 委外数据明文审核</a></dd>
        <dd><a href="@Url.Content("~/Home/v_visit_record_list")">/visit/record/list 委外外访信息查询</a></dd>

    </dl>
</li>
<div class="" style="float:right">
    <li class="layui-nav-item">
        <label id="userToken">Token:@Session["userToken"]</label>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">厂商用户操作</a>
        <dl class="layui-nav-child">
            <dd>
                <a href="@Url.Content("~/Home/v_user_sync_token")">用户令牌数据同步</a>
            </dd>
            <dd>
                <a href="@Url.Content("~/Home/Del")">注销</a>
            </dd>
        </dl>
    </li>
</div>