<li class="layui-nav-item">
    <a href="javascript:;">委外接口</a>
    <dl class="layui-nav-child">
        <dd><a href='@Url.Content("~/Home/v_user_sync_info")'>/user/sync/info 用户基本数据同步</a></dd>
        <dd><a href='@Url.Content("~/Home/v_user_sync_token")'>/user/sync/token 用户令牌数据同步</a></dd>
        <dd><a href="@Url.Content("~/Home/v_casepool_list")">/casepool/list 委外案件基本信息</a></dd>
    </dl>
</li>
<div class="" style="float:right">
    <li class="layui-nav-item">
        <label>授权码:@Session["authToken"]</label>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">厂商用户操作</a>
        <dl class="layui-nav-child">
            <dd>
                <a href="@Url.Content("~/Home/v_user_sync_token")">用户令牌数据同步</a>
            </dd>
            <dd>
                <a href="@Url.Content("~/Home/Del")">注销</a>
            </dd>
        </dl>
    </li>
</div>