<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/layui/css/layui.css")" rel="stylesheet" />
    <style>
        .layui-form-label {
            width: 190px;
        }

        .layui-input-block {
            margin-left: 220px;
        }
    </style>
</head>
<body>
    <div class="layui-header">
        <ul class="layui-nav layui-bg-green">
            <li class="layui-nav-item">
                <label>@ViewBag.Title</label>
            </li>
            @Html.Partial("~/Views/Home/P_NAV.cshtml")
        </ul>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">
            查询条件<span class="lay-title-span">@(ViewBag.ThreadMsg)</span>
        </div>
        <div class="layui-card-header layuiadmin-card-header-auto" id="defaultSp">
            <form class="layui-form" lay-filter="defaultSearch">
                <div class="layui-inline">
                    <label class="layui-form-label" title="查询起始RRN No">查询起始RRN No</label>
                    <div class="layui-input-block">
                        <input type="text" name="rrn" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" title="工作线程数">工作线程数</label>
                    <div class="layui-input-block">
                        <input hidden="hidden" name="MinWorkthread" value="@ViewBag.MinWorkthread" />
                        <input hidden="hidden" name="MaxWorkthread" value="@ViewBag.MaxWorkthread" />
                        <input hidden="hidden" name="TheWorkthread" value="@ViewBag.TheWorkthread" />
                        <input type="text" name="workthread" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" title="I/O线程数">I/O线程数</label>
                    <div class="layui-input-block">
                        <input hidden="hidden" name="MinIOthread" value="@ViewBag.MinIOthread" />
                        <input hidden="hidden" name="MaxIOthread" value="@ViewBag.MaxIOthread" />
                        <input hidden="hidden" name="TheIOthread" value="@ViewBag.TheIOthread" />
                        <input type="text" name="iothread" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" title="Token">Token</label>
                    <div class="layui-input-block">
                        <input type="text" name="Token" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" title="是否写非错误日志">是否写非错误日志</label>
                    <div class="layui-input-block">
                        <select name="writeLog" required lay-verify="required" lay-verType="tips" autocomplete="off">
                            <option value="0" selected="selected">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" title="结果模式">结果模式</label>
                    <div class="layui-input-block">
                        <select name="resultMode" required lay-verify="required" lay-verType="tips" autocomplete="off">
                            <option value="1">网页展示</option>
                            <option value="2" selected="selected">Excel</option>
                            <option value="3">网页展示并保存至Excel</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-card-body">
            <div class="layui-hide" id="defaultTable" lay-filter="defaultTable"></div>
        </div>
        <div class="layui-card-body layui-hide xd">
            <table class="layui-table" lay-size="sm" style="width:auto">
                <tr>
                    <td colspan="2" style="vertical-align:top">
                        <table class="layui-table" lay-size="sm" style="width:auto">
                            <thead>
                                <tr>
                                    <th>时间</th>
                                    <th>内容</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2021-02-06</td>
                                    <td>委外案件案池信息拓展至不分页的模式</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="@Url.Content("~/layui/layui.js")"></script>
    <script>
        layui.config({
            base: '@Url.Content("~/layui/modules/")'
        }).use(['element', 'form', 'table', 'layer', 'core'], function () {
            var $ = layui.jquery,
                element = layui.element,
                core = layui.core,
                layer = layui.layer,
                form = layui.form,
                table = layui.table;

            core.defaultQuery.url = '@Url.Content("~/Home/f_casepool_list_t")';

            table.render({
                size: 'sm',
                elem: '#defaultTable',
                id: 'defaultTable',
                method: 'post',
                where: {
                    queryString: core.queryString()
                },
                page: true,
                limit: 50,
                limits: [50],
                even: true,
                autoSort: false,
                cellMinWidth: 80,
                cols: [[
                    { type: 'numbers', fixed: 'left' },
                    { type: 'checkbox', fixed: 'left' },
                    { field: 'flag', title: '标识' },
                    { field: 'caseId', title: '案件号' },
                    { field: 'rrn', title: 'RRN No' },
                    { field: 'agentId', title: '委外机构网点代码' },
                    { field: 'branchId', title: '所属分中心' },
                    { field: 'adjustAreaCode', title: '地区（账户）' },
                    { field: 'afterAreaCode', title: '分案地区' },
                    { field: 'batchNum', title: '批次号' },
                    { field: 'custName', title: '客户姓名' },
                    { field: 'cidDES', title: '证件号码' },
                    { field: 'age', title: '年龄' },
                    { field: 'acctIdDES', title: '账户号（脱敏）' },
                    { field: 'acctIdENC', title: '账户号（加密）' },
                    { field: 'currency', title: '币种' },
                    { field: 'gender', title: '性别' },
                    { field: 'principalOpsAmt', title: '委托时本金（人民币）' },
                    { field: 'balanceOpsAmt', title: '委托金额（人民币）' },
                    { field: 'lastBalanceOpsAmt', title: '在案金额（人民币）' },
                    { field: 'monthBalanceAmt', title: '在案本金（人民币）' },
                    { field: 'overPeriod', title: '委托时逾期时段' },
                    { field: 'targetPeriod', title: '目标时段' },
                    { field: 'caseType', title: '类型' },
                    { field: 'entrustStartDate', title: '委托开始日期' },
                    { field: 'entrustEndDate', title: '委托到期日期' },
                    { field: 'isSued', title: '是否诉讼' }
                ]]
            });

            core.loadQuery('@ViewBag.queryString');
        });
    </script>
</body>
</html>