<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/layui/css/layui.css")" rel="stylesheet" />
    <style>
        .layui-form-label {
            width: 190px;
        }

        .layui-input-block {
            margin-left: 220px;
        }
    </style>
</head>
<body>
    <div class="layui-header">
        <ul class="layui-nav layui-bg-green">
            <li class="layui-nav-item">
                <label>@ViewBag.Title</label>
            </li>
            @Html.Partial("~/Views/Home/P_NAV.cshtml")
        </ul>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">
            录入<span class="lay-title-span">*每天限量请求100次,最大20个</span>
        </div>
        <div class="layui-card-header layuiadmin-card-header-auto">
            <form class="layui-form" lay-filter="defaultSearch">
                <div class="layui-form-item">
                    <label class="layui-form-label" title="委外机构网点代码">委外机构网点代码</label>
                    <div class="layui-input-block">
                        <input type="text" name="agentId" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="催收员用户名">催收员用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="userName" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="催收员Id">催收员Id</label>
                    <div class="layui-input-block">
                        <input type="text" name="userId" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="性别">性别</label>
                    <div class="layui-input-block">
                        <input type="text" name="gender" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="身份证号码">身份证号码</label>
                    <div class="layui-input-block">
                        <input type="text" name="cid" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="手机号码">手机号码</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="岗位职级">岗位职级</label>
                    <div class="layui-input-block">
                        <input type="text" name="position" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="学历">学历</label>
                    <div class="layui-input-block">
                        <input type="text" name="education" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="从事催收工作的起始时间">从事催收工作的起始时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="workStartDate" autocomplete="off" class="layui-input datepicker" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="作业人员办电">作业人员办电</label>
                    <div class="layui-input-block">
                        <input type="text" name="officeTel" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="作业人员办公手机">作业人员办公手机</label>
                    <div class="layui-input-block">
                        <input type="text" name="officePhone" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="作业人员微信号">作业人员微信号</label>
                    <div class="layui-input-block">
                        <input type="text" name="weixin" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="作业人员QQ">作业人员QQ</label>
                    <div class="layui-input-block">
                        <input type="text" name="qq" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="地区">地区</label>
                    <div class="layui-input-block">
                        <input type="text" name="workArea" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="职位">职位</label>
                    <div class="layui-input-block">
                        <input type="text" name="type" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="邮箱">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="状态">状态</label>
                    <div class="layui-input-block">
                        <input type="text" name="status" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" name="setUsersJSONStr">拼接值用户信息列表JSON</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="用户信息列表JSON">用户信息列表JSON</label>
                    <div class="layui-input-block">
                        <textarea class="layui-textarea" name="usersJSONStr"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formSumit" id="formSumit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-card-body">
            <div class="layui-hide" id="defaultTable" lay-filter="defaultTable"></div>
        </div>
    </div>
    <script src="@Url.Content("~/layui/layui.js")"></script>
    <script>
        layui.config({
            base: '@Url.Content("~/layui/modules/")'
        }).use(['element', 'form', 'table', 'layer', 'core'], function () {
            var $ = layui.jquery,
                element = layui.element,
                core = layui.core,
                layer = layui.layer,
                form = layui.form,
                table = layui.table;

            //表单提交
            form.on('submit(formSumit)', function (data) {
                core.req({
                    that: $('#formSumit'),
                    url: '@Url.Content("~/home/f_user_sync_info")',
                    data: {
                        queryString: core.queryString()
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.status * 1 === 0) {
                            $('#authToken').val(data.data);
                        }
                    }
                });
                return false;
            });

            //拼接JSON
            $('button[name="setUsersJSONStr"]').click(function () {
                var $usersJSONStr = $('textarea[name="usersJSONStr"]');
                var userJSON = {};
                //agentId
                var agentId = $('input[name="agentId"]').val();
                userJSON.agentId = agentId;
                //userName
                var userName = $('input[name="userName"]').val();
                userJSON.userName = userName;
                //userId
                var userId = $('input[name="userId"]').val();
                userJSON.userId = userId;
                //gender
                var gender = $('input[name="gender"]').val();
                userJSON.gender = gender;
                //cid
                var cid = $('input[name="cid"]').val();
                userJSON.cid = cid;
                //phone
                var phone = $('input[name="phone"]').val();
                userJSON.phone = phone;
                //position
                var position = $('input[name="position"]').val();
                userJSON.position = position;
                //education
                var education = $('input[name="education"]').val();
                userJSON.education = education;
                //workStartDate
                var workStartDate = $('input[name="workStartDate"]').val();
                userJSON.workStartDate = workStartDate;
                //officeTel
                var officeTel = $('input[name="officeTel"]').val();
                userJSON.officeTel = officeTel;
                //officePhone
                var officePhone = $('input[name="officePhone"]').val();
                userJSON.officePhone = officePhone;
                //weixin
                var weixin = $('input[name="weixin"]').val();
                userJSON.weixin = weixin;
                //qq
                var qq = $('input[name="qq"]').val();
                userJSON.qq = qq;
                //workArea
                var workArea = $('input[name="workArea"]').val();
                userJSON.workArea = workArea;
                //type
                var type = $('input[name="type"]').val();
                userJSON.type = type;
                //email
                var email = $('input[name="email"]').val();
                userJSON.email = email;
                //status
                var status = $('input[name="status"]').val();
                userJSON.status = status;
                //拼接
                var val = $usersJSONStr.val();
                if (val) {
                    var length = val.length;
                    $usersJSONStr.val(val.substring(0, length - 1) + ',' + JSON.stringify(userJSON) + ']');
                } else {
                    $usersJSONStr.val('[' + JSON.stringify(userJSON) + ']');
                }
            });
        });
    </script>
</body>
</html>
